 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background-color: blue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

.container {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 20px; bottom: 0; right: 20px; left: 20px;
}

.list {

  li {
    display: inline-block;
    background-color: green;
    width: 20%;
    height: 75px;
    margin: 2px;
  }
}

.controls {
  background-color: red;
  height: 140px;
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
}