 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background-color: blue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
  box-sizing: border-box;
}

ul, li, input, button, form {
  margin: 0;
  padding: 0;
}

.container {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  height: auto;
  overflow: auto;
  position: absolute;
  top: 20px; bottom: 0; right: 20px; left: 20px;
}

.list {

  li {
    display: inline-block;
    background-color: green;
    margin: 0;
    float: left;
    border: 1px solid blue;
    overflow: auto;
    color: white;
    text-align: center;
    width: 100px;
    height: 100px;
  }
}

.controls {
  background-color: blue;
  height: 140px;
  width: 100%;
  padding: 10px 30px;
  position: fixed;
  bottom: 0;
  overflow: auto;

  .input {
    width: 65%;
    float: left;

    h2 {
      color: white;
    }

    form {
      width: 60%;
      height: 60px;
    }

    input {
      width: 80%;
      height: 100%;
      padding: 0 20px;
      font-size: 1.8em;
    }

    button {
      height: 100%;
      width: 18%;
    }
  }

  .filter {
    width: 35%;
    float: right;

    button {
      height: 40px;
      width: 100%;
    }
  }

}