 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


// Partials
@import 'colors';

$brick-font: 'Arvo', serif;

// Custom Styles
body {
  background-color: $blue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
  box-sizing: border-box;
}

ul, li, input, button, form, h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: $navy;
  color: $white;
  border-bottom: 1px solid $grey;
  text-align: center;

  h1 {
    font-family: $brick-font;
    font-size: 4em;
    display: inline-block;
  }

  .count {
    display: inline-block;
  }
}

.container {
  line-height: 30px;
  background-color: $white;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $grey;
  height: auto;
  overflow: auto;
  position: absolute;
  top: 116px; bottom: 0; right: 20px; left: 20px;
}

.list {

  li {
    font-size: 1.8em;
    line-height: 1.4em;
    min-height: 40px;
    padding: .4em 1em;
    border-radius: 4px;
    border: 2px solid $white;
    display: inline-block;
    margin: 1px;
    float: left;
    overflow: auto;
    color: $white;
  }

  .complete {
    background-color: $red;

    &:hover {
      border: 2px solid $red;
    }
  }

  .incomplete {
    background-color: $navy;

    &:hover {
      border: 2px solid $navy;
    }
  }
}

.controls {
  background-color: $blue;
  /* height: 110px; */
  width: 100%;
  padding: 16px 20px;
  position: absolute;
  bottom: 0;
  overflow: auto;

  .inputForm {
    width: 65%;
    height: 70px;
    overflow: auto;
    float: left;

    input {
      width: 80%;
      height: 100%;
      margin: 0;
      padding: 0 20px;
      font-size: 1.8em;
      float: left;
      background-color: $white;
      color: $navy;
      border: 2px solid $grey;
      border-right: 2px solid $grey;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    button {
      font-size: 1.6em;
      margin: 0;
      height: 100%;
      width: 18%;
      float: left;
      border: 2px solid $grey;
      border-left: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: $navy;
      color: $white;

      &:hover {
        background-color: $blue;
      }
    }
  }

  .filter {
    width: 35%;
    float: right;
    overflow: auto;

    h4 {
      float: left;
      color: $white;
      display: inline-block;
      height: 26px;
    }

    ul {
      float: right;
      width: 100%;
      text-align: justify;
      overflow: auto;
    }

    li {
      font-size: 1.2em;
      display: inline-block;
      float: right;
      padding: 4px 8px 0 8px;
      margin-left: 6px;
      height: 26px;
      background-color: $white;
      color: $navy;
      border: 1px solid $grey;
      border-radius: 4px;
      text-align: center;

      &:nth-child(4){
        margin-left: 0;
      }
    }

    button {
      font-size: 1.4em;
      clear: both;
      height: 36px;
      margin-top: 8px;
      width: 100%;
      background-color: $red;
      border: 1px solid $grey;
      border-radius: 4px;
      color: $white;

      &:hover {
        background-color: $blue;
      }
    }
  }

  @media ( max-width: 600px){

    .inputForm {
      width: 100%;

      button {
        width: 20%;
      }
    }

    .filter {
      width: 100%;

      button {
        width: 50%;
      }

      ul {
        width: 50%;
        height: 36px;
        margin-top: 8px;
      }

      li {
        height: 100%;
        padding-top: 10px;
      }
    }
  }

  @media ( max-width: 400px){

    .inputForm {
      height: 50px;

      input {
        width: 65%;
        font-size: 1.6em;
      }

      button {
        width: 35%;
        font-size: 1.4em;
      }
    }

    .filter {

      ul {
        display: none;
      }

      button {
        width: 100%;
      }
    }
  }
}